<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567717669747-dlkqdd6lhrp95kf179v0bcclrffp67b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567717669747-dlkqdd6lhrp95kf179v0bcclrffp67b2</string>
	<key>API_KEY</key>
	<string>AIzaSyB98nABfRLuJqaie3OrqS1NVIhSBrBpV6k</string>
	<key>GCM_SENDER_ID</key>
	<string>567717669747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.datacom.doctors</string>
	<key>PROJECT_ID</key>
	<string>ddeeee-4f963</string>
	<key>STORAGE_BUCKET</key>
	<string>ddeeee-4f963.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567717669747:ios:87daf2d2bb6f2ace47f306</string>
	<key>DATABASE_URL</key>
	<string>https://ddeeee-4f963.firebaseio.com</string>
</dict>
</plist>